body {
	background-color: lightgray;
}

.menu1 {
	padding-top: 2px;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: baseline;
}

.logo {
	text-align: -webkit-center;
	width: 10%;
}

.nombre {
	width: 75%;
}

.titulo {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 30px;
	text-align: center;
	font-weight: 600;
}

.redes-sociales {
	width: 15%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

/* .redes-sociales i {
	display: flex;
} */

.facebook {
	color: #9fdfd3;
}

.twitter {
	color: #b9abc9;
}

.instagram {
	color: #fe6767;
}

.youtube {
	color: #ffde59;
}
.linkedin {
	color: #eeb1c7;
}

.nav-menu {
	background-color: #e5e1f3;
}

.menu {
	display: flex;
	align-items: baseline;
	justify-content: space-evenly;
}

.menu a {
	font-size: 26px;
	color: black;
}

.menu a:hover {
	color: black;
	text-decoration-line: underline;
	text-decoration-color: #ffde59;
}

.menu a:visited {
	color: black;
}

.contactanos {
	background: #ffde59;
	color: black !important;
}

.contactanos:hover {
	opacity: 0.8;
	color: white !important;
}

.circle4 {
	display: block;
	width: 100px;
	height: 100px;
	text-align: center;
	align-content: center;
	align-items: center;
	border-radius: 50%;
	border-left: solid 10px #95d2c7;
	border-right: solid 10px #8776c7;
	border-top: solid 10px #95d2c7;
	border-bottom: solid 10px #8776c7;

	transform: rotate(-45deg);
}

.circle4 img {
	/* text-align: center; */
	max-width: 100%;
	max-height: 100%;
	transform: rotate(45deg);
}

.circle-responsive {
	display: block;
	width: 50px;
	height: 50px;
	/* margin-left: 100px; */
	text-align: center;
	align-content: center;
	align-items: center;
	border-radius: 50%;
	border-left: solid 5px #95d2c7;
	border-right: solid 5px #8776c7;
	border-top: solid 5px #95d2c7;
	border-bottom: solid 5px #8776c7;

	transform: rotate(-45deg);
}

.circle-responsive img {
	/* text-align: center; */
	max-width: 100%;
	max-height: 100%;
	transform: rotate(45deg);
}

/** --------------------------------------------**/
/* Prueba de submenu */
.submenu-margin {
	margin-left: 20px;
	margin-right: 20px;
}

.col-megamenu a {
	text-decoration: none;
	font-size: 1em;
}

.col-megamenu a:hover {
	text-decoration: none;
}

.col-megamenu:hover {
	background: #9fdfd3;
	border-radius: 5px;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.navbar .has-megamenu {
		position: static !important;
	}
	.navbar .megamenu {
		left: 0;
		right: 0;
		width: 100%;
		margin-top: 0;
	}
}
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media (max-width: 991px) {
	.navbar.fixed-top .navbar-collapse,
	.navbar.sticky-top .navbar-collapse {
		overflow-y: auto;
		max-height: 90vh;
		margin-top: 10px;
	}
}
/* ============ mobile view .end// ============ */

/** --------------------------------------------**/

/* Calendario styles */

.asistencia {
	display: table-cell;
	width: 40px;
	height: 40px;
	color: #fff;
	background-color: #9fdfd3;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	align-content: center;
	align-items: center;
}

.card-imagen {
	background-image: url(./assets/imagen.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 20px;
}

.card-tittle-positon {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.card-impartido {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 10px;
}

.evento {
	display: flex;
	justify-content: space-around;
	padding: 20px 15px;
}
