.swiper {
	width: 95%;
	height: 100%;
	margin-top: 50px;
	margin-bottom: 0;
}
.swiper-wrapper {
	margin-bottom: 50px;
}
.swiper-slide {
	// background: #882525;
	line-height: 20px;
	text-align: center;
}
